*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

 main{
    padding:0;
 }

 header{
    position: relative;
 }

 header h1{
    margin: 10px;
 }

 nav{
      position: sticky;
      top: 10px;
      left: 50px;
 }